@model IEnumerable<App.EventTracker.Models.EventModel>
@ViewBag.Events
@{
    

}

<h1>Etkinlik Listesi</h1>

<p>
    <a asp-action="Create">Yeni Oluştur</a>
</p>
<table class="table">
    <thead>
        <tr>
@*             <th>
                @Html.DisplayNameFor(model => model.Id)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
@*             <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.ActionLink("Düzenle", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Detaylar", "Details", new { id=item.Id }) |
                @Html.ActionLink("Sil", "Delete", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
